/* src/styles.css */
@import "tailwindcss";

@keyframes hitAnimation {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }
  
  .animate-hit {
    animation: hitAnimation 0.3s ease-in-out;
  }
  
@keyframes hit {
    0% { transform: translateY(0); filter: brightness(1); }
    50% { transform: translateY(10px); filter: brightness(5); }
    100% { transform: translateY(0); filter: brightness(1); }
}

.animate-phit {
    animation: hit 0.3s ease;
}

/* 炎を吐く */
@keyframes flashRed {
0% {
    filter: brightness(1) saturate(1); transform: translateY(0);
}
50% {
    filter: brightness(1.5) sepia(1) saturate(5) hue-rotate(10deg); transform: translateY(10px);
}
100% {
    filter: brightness(1) saturate(1); transform: translateY(0);
}
}

.animate-fire {
    animation: flashRed 0.3s ease-in-out;
}